.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .input-container {
    margin-bottom: 10px;
    text-align: center;
  }
  
  label {
    display: inline-block;
    margin-right: 10px;
    color: black;
  }
  
  input {
    padding: 5px;
    color: black; /* Set the input text color to black */
  }
  
  button {
    color: black; /* Set button text color to black */
  }

  .title {
    color: black;
    text-align: center;
    margin-bottom: 10px;
  }