@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: black;
}

label {
  display: inline-block;
  margin-right: 10px;
  color: black;
}

input {
  padding: 5px;
  color: black; /* Set the input text color to black */
}

button {
  color: black; /* Set button text color to black */
}
